html {
    display: block;
}
html, body {
    height: 100%;
}
body
{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(bg.jpg);
    background-position: center;
    background-size: cover;
    font-family: arial;
}

.wrapper {
    max-width: 900px;
    margin: 0 auto;
    /* background: #fff; */
    /* background: #fff; */
    padding: 50px;
    box-sizing: border-box;
    border-radius: 30px;
    /* box-shadow: 0 0 5px 10px #000; */
    box-shadow: 0 0 5px 10px rgba(0, 0, 0, 0.33);
    position: relative;
    color: #fff;
    overflow: hidden;
}
.wrapper:before{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    
    background-image: url(bg.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    filter: blur(5px);
}
h1 {
    position: relative;
    font-size: 48px;
    line-height: 1.4;
    margin: 0 0 30px;
}
span {
    position: relative;
    line-height: 2;
}



